@use "mixins" as *;
@forward "variables";
@forward "theme/card";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.header, .section {
  @include flex-center;
}

.section {
  margin: 2rem 0;
}

.container {
  max-width: 1440px;
  padding: 1.25rem;
  margin: 0 auto;
  @include flex-center;
  flex-direction: column;
}

.grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include media-max(lg) {
    grid-template-columns: repeat(1, 1fr);
  }
}

h1, h2 {
  margin-top: 0;
}