@use "mixins" as *;
@forward "variables";
@forward "theme/card";
@forward "theme/base";
@forward "theme/layouts/clean";
@forward "theme/layouts/energetic";
@forward "theme/layouts/table";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  position: relative;
  min-height: 100vh;
  background: url("@/assets/images/bg-sport.webp") no-repeat center center scroll;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
}

:root {
  --scrollbar-track: #f0f0f0;
  --scrollbar-thumb: #bbb;
}

#root {
  position: relative;
}

.container {
  max-width: 1440px;
  padding: 1.25rem;
  margin: 0 auto;
  @include flex-center;
  flex-direction: column;
  @include media-max(lg) {
    max-width: 100%;
    display: block;
    width: 100%;
    padding: 1rem;
  }
}