@use "mixins" as *;
@forward "variables";
@forward "theme/card";
@forward "theme/base";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.section {
  margin: 0 0 2rem;
}

.container {
  max-width: 1440px;
  padding: 1.25rem;
  margin: 0 auto;
  @include flex-center;
  flex-direction: column;
  @include media-max(lg) {
    max-width: 100%;
    display: block;
    width: 100%;
    padding: 1rem;
  }
}