@use "@/assets/styles/mixins" as *;

table {
  width: 100%;
  min-width: 320px;
  border-collapse: collapse;

  thead th {
    position: sticky;
    top: 0;
    background-color: green;
  }

  tbody tr:nth-child(even) {
    background-color: #f9fafb;
  }

  tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }

  th,
  td {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
  }
}

.scrollable-x {
  overflow: auto;
  max-height: 22rem;
}

.grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;

  @include media-max(lg) {
    display: flex;
    flex-direction: column;
  }
}

h1, h2 {
  margin-top: 0;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}